@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root{
    --white:#fff;
    --primary-mint: #81b69d;
    --primary-blue: #92ddc8;
    --primary-yellow: #FFD980;
    --basic-font-color: #666;
    --secondary-heading-color: #333;
    --black: #000;
    --basic-font-size: 1.6rem;
    --section-heading-font: Raleway,sans-serif,serif;
    --main-heading-font: 'Bebas Neue', cursive;
    --text-font: Roboto,sans-serif,serif;
    --backup-font: 'Poppins', sans-serif;
}

*{
    font-family: var(--text-font);
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
}

*::selection{
    background:var(--primary-blue);
    color:var(--white);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background:#f9f9f9;
    background-image: url(images/wave.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

h2, h3, p {
    line-height: 1.5;
}

h2, h3, h4, h5 {
    font-family: var(--section-heading-font);
    text-transform: capitalize;
}

.site-wrapper {
    max-width: 1200px;
    display: grid;
    align-content: space-evenly;
    justify-content: center;
    align-items: start;
    justify-items: center;
    margin: 0 auto;
    padding:0;
}

section{
    width: 100%;
    padding: 6rem 0;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    border-radius: 5rem;
    background:var(--primary-mint);
    font-size: var(--basic-font-size);
    color:var(--white);
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .3s linear;
}

.btn:hover{
    transform: scale(1.1);
}

.heading{
    text-align: center;
    color: var(--primary-mint);
    font-size: 3.5rem;
    text-transform: uppercase;
    padding:1rem;
    margin-bottom: 2rem;
}

header{
    position: fixed;
    top:0; left:0;
    width:100%;
    background:var(--white);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.inner-wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img{
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

header .navbar a{
    font-size: var(--basic-font-size);
    margin-left: 2rem;
    color:var(--black);
}

header .navbar a:hover{
    color: var(--primary-mint);
}

header input{
    display: none;
}

header label{
    font-size: 3rem;
    color:var(--primary-mint);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.home{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 10rem 35px 3rem;
}

.home div.content .cta-top {
    flex: 1 1 100%;
    flex-direction: row;
    text-align: center;
}

.home i.fas.fa-arrow-right {
    margin: 0 auto;
    border-radius: 50%;
    color: var(--white);
    background-color: var(--primary-mint);
    font-size: var(--basic-font-size);
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
}

section#home.home div.content a.btn,
section#home.home form input.btn,
.about .column .content .buttons a.btn {
    float: right;
}

.home form{
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.home div.content {
    margin: auto;
} 

.home .content h1{
    font-size: 5.5rem;
    color:var(--secondary-heading-color);
    text-transform: uppercase;
    line-height: 1.25;
    margin: 15px auto;
    text-transform: capitalize;
    text-align: center;
}

.home .content h1 span{
    color:var(--primary-mint);
    text-transform: uppercase;
}

.home .content p{
    font-size: var(--basic-font-size);
    color: var(--basic-font-color);
    padding:1rem 0;
}

.coaching div.content {
    max-width: 768px;
    margin: 0 auto 3rem;
}

.coaching .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.coaching .box-container .box{
    display: flex;
    flex-direction: column;
    flex:1 1 30rem;
    justify-content: flex-start;
    background:var(--white);
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin:1.5rem;
    padding:3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
}

.coaching .box-container .box img {
    width: fit-content;
    height: 13rem;
    margin: 0 auto;
}

.coaching .box-container .box h3,
section.podcast div.box h3 {
    font-size: 2rem;
    color: var(--secondary-heading-color);
    padding-top: 1rem;
}

.coaching .box-container .box p,
.coaching div.content p,
section.podcast div.box p {
    font-size: var(--basic-font-size);
    color:var(--basic-font-color);
    padding: 1rem 0;
    margin: 1rem 0;
    text-align: left;
}
.coaching .box-container .box p.number {
    font-weight: 600;
    position: relative;
    left: -10px;
    top: -20px;
    margin: 0.5rem 0;
    margin-right: 1rem;
    border-radius: 50%;
    color: var(--white);
    background-color: var(--primary-mint);
    font-size: var(--basic-font-size);
    height: 4.5rem;
    width: 4.5rem;
    line-height: 2.5rem;
    text-align: center;
}

section.podcast div.box {
    display: flex;
    flex-direction: column;
    flex: 1 1 30rem;
    justify-content: flex-start;
    background: var(--white);
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
    margin: 1.5rem;
    padding: 3rem 2rem;
    text-align: center;
    transition: .2s linear;
}

section.podcast div.box img {
    width: fit-content;
    height: 14rem;
    margin: 0 0 0 auto;
}

section.podcast div.box .podcast-text {
    margin: 20px auto;
}
section.podcast div.box .podcast-text h3 {
    font-size: 3rem;
}
section.podcast div.box img:first-child {
    margin: 0 auto 0 0;
}

section.podcast div.box p {
    text-align: center !important;
}

.about .column{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: start;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

.about .column .image{
    width:100%;
    height: 100%;
    flex:1 1 40rem;
    background-image: url(images/headphones.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 0;
    overflow: hidden;
    object-fit: contain;
}

.about .column .image img{
    width:100%;
    max-height: 450px;
}

.about .column .content{
    flex:1 1 40rem;
}

.about .column .content h3{
    font-size: 3rem;
    color:var(--basic-font-color);
}

.about .column .content p{
    font-size: var(--basic-font-size);
    color:var(--basic-font-color);
    padding:1rem 0;
}

.about .column .content p:first-child{
    padding-top: 0;
}

.about .column .content .buttons a.btn {
    margin-left: 2rem;
}

.newsletter {
    width: 100%;
    height: auto;
    min-height: auto;
    text-align: center;
    padding:5rem 1rem;
    background-color: var(--primary-mint);
    border-radius: 150px;
}

.newsletter h3{
    color:var(--white);
    font-size: 3rem;
    text-transform: uppercase;
}

.newsletter p{
    color:var(--white);
    font-size: var(--basic-font-size);
    margin:2rem auto;
    width:70rem;
}

.newsletter form{
    display: flex;
    max-width: 70rem;
    border:.2rem solid var(--white);
    padding:.5rem;
    border-radius: 5rem;
    margin:2rem auto;
    height:5.5rem;
}

.newsletter form input[type="email"]{
    padding:0 2rem;
    font-size: var(--basic-font-size);
    background:none;
    width:100%;
    color:var(--white);
    text-transform: none;
    background:none;
}

.newsletter form input[type="email"]::placeholder{
    color:#eee;
    text-transform: capitalize;
}

.newsletter form input[type="submit"]{
    background:var(--white);
    width:20rem;
    font-size: var(--basic-font-size);
    border-radius: 5rem;
    cursor: pointer;
}

.newsletter form input[type="submit"]:hover{
    color:var(--primary-mint);
}

.review .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.review .box-container .box{
    background:var(--white);
    margin:1rem;
    padding:1rem;
    text-align: center;
    position: relative;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    flex:1 1 30rem;
    border-radius: .5rem;
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    top:1rem; right:2rem;
    font-size: 8rem;
    color:var(--primary-mint);
    opacity: .3;
}

.review .box-container .box .user img{
    border-radius: 50%;
    object-fit: cover;
    height: 7rem;
    width:7rem;
    margin-top: 2rem;
}

.review .box-container .box .user h3{
    color:var(--primary-mint);
    font-size: 2rem;
}

.review .box-container .box .user .stars i{
    color: var(--primary-yellow);
    font-size: 1.5rem;
    padding:1rem 0;
}

.review .box-container .box .comment{
    color:var(--basic-font-color);
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: left;
    padding:1rem;
}

.pricing .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pricing .box-container .box{
    display: flex;
    flex-direction: column;
    flex: 1 1 27rem;
    justify-content: flex-start;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0,0,0,.2);
    background: var(--white);
    text-align: center;    
}

.pricing .box-container .box:hover,
.review .box-container .box:hover,
.home form:hover,
.coaching .box-container .box:hover {
    border: 1px solid var(--primary-mint);
}

.pricing .box-container .box .title{
    color:var(--primary-mint);
    font-size: 2.5rem;
    margin-top: 1rem;
}

.pricing .box-container .box .price{
    font-size: 4rem;
    color:var(--secondary-heading-color);
    padding:1rem 0;
}

.pricing .box-container .box .price span{
    font-size: 2rem;
    color:var(--primary-mint);
}

.pricing .box-container .box ul{
    padding:1rem 0;
    list-style: none;
}

.pricing .box-container .box ul li{
    font-size: var(--basic-font-size);
    line-height: 1.5;
    color:var(--basic-font-color);
    padding:.5rem 0;
}

.pricing .box-container .box ul li .fa-check{
    color:lightgreen;
}

.pricing .box-container .box ul li .fa-times{
    color:tomato;
}

.pricing .box-container .box a.btn {
    margin: 10px auto;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .image img{
    width:100%;
    padding: 0;
}

.home form{
    flex:1 1 40rem;
    padding:2rem 3rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    background: var(--white);
    animation: none;
}

.home form .heading{
    text-align: left;
    padding:0;
    padding-bottom: 2rem;
    margin: 0;
    color: var(--primary-mint);
}

.home form .inputBox{
    position: relative;
}

.home form .inputBox input, .home form .inputBox textarea{
    width:100%;
    background:none;
    color:var(--basic-font-color);
    margin:1.5rem 0;
    padding:.5rem 0;
    font-size: var(--basic-font-size);
    border-bottom: .1rem solid rgba(0,0,0,.1);
    text-transform: none;
}

.home form .inputBox textarea{
    resize: none;
    height: 10rem;
}

.home form .inputBox label{
    position: absolute;
    top:1.7rem; left:0;
    font-size: var(--basic-font-size);
    color:var(--basic-font-color);
    transition: .2s linear;
}

section#home.home form input.btn {
    background-color: var(--primary-mint);
}

.home form .inputBox input:focus ~ label,
.home form .inputBox input:valid ~ label,
.home form .inputBox textarea:focus ~ label,
.home form .inputBox textarea:valid ~ label{
    top:-.5rem;
    font-size: var(--basic-font-size);
    color: var(--primary-mint);
}

.footer{
    width: 100%;
    padding-top: 5rem;
    margin-top: 6rem;
    background-color: var(--primary-mint);
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    overflow: hidden;
}

.footer-inner {
    max-width: 1200px;
    margin: 0 auto;  
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    margin:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding:1rem 0;
    color:var(--white);
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.footer .box-container .box p{
    font-size: var(--basic-font-size);
    padding:.5rem 0;
    color:#eee;
    text-transform: none;
}

.footer .box-container .box a{
    display: block;
    font-size: var(--basic-font-size);
    padding:.5rem 0;
    color:#eee;
}

.footer .box-container .box a:hover{
    text-decoration: underline;    
}

.footer .box-container .box .info{
    display: flex;
    align-items: center;
}

.footer .box-container .box .info i {
    margin:.5rem 0;
    margin-right: 1rem;
    border-radius: 50%;
    background: var(--white);
    color: var(--primary-mint);
    font-size: var(--basic-font-size);
    height:4.5rem;
    width:4.5rem;
    line-height: 4.5rem;
    text-align: center;
}

.footer .credit{
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color:var(--white);
    border-top: .1rem solid #fff5;
    padding:2.5rem 1rem;
    text-align: center;
}

/* media queries  */
@media (max-width:1300px){
    
    header,
    section{
        padding-right: 2rem;
        padding-left: 2rem;
    }

}

@media (max-width: 1050px){
    .home .content h1 {
        font-size: 4.5rem;
    }
}

@media (max-width:850px){
    .coaching div.content  {
        margin: 15px;
    }
}

@media (min-width: 769px) {
    .footer .box-container .box {
        flex: 1 1 25rem;
    }
}

@media (max-width:768px){
    body{
        background:#f9f9f9;
        background-image: none;
    }

    section#home.home div.content a.btn,
    .about .column .content .buttons a.btn {   
        margin-right: 3rem;
    }

    header label{
        visibility: visible;
        opacity: 1;
    }

    header .navbar{
        position: absolute;
        top:100%; 
        left: 0;
        width:100%;
        background:var(--white);
        padding:1rem 2rem;
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;
    }

    header .navbar a{
        display: block;
        margin:2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content:'\f00d';
    }

    .home{
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        gap: 0;
        justify-items: center;
        background-image: url(images/wave.svg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 5rem 20px 3rem !important;
    }

    .home i.fas.fa-arrow-right {
        transform: rotate(90deg);
    }

    .home .content,
    .about .column .content{
        width: 100%;
        margin: auto;
        padding: 3rem 0;
    }

    .home div.content {
        margin: 0 auto;
    }

    .home div.content .cta-top {
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 3.6rem;
    }
    .home form {
        width: 100%;
        max-width: 100%;
    }
    .about .column {
        grid-template-rows: 400px auto;
        grid-template-columns: auto;
        gap: 0;
        align-items: start;
        justify-content: center;
    }

    .newsletter {
        border-radius: 0;
    }
    .newsletter p {
        width:auto;
    }

    .footer {
        border-radius: 0px;
        padding-top: 0;
    }
    .footer .box-container {
        justify-content: space-between;
    } 
}

@media (max-width: 550px) {
    header, section {
        padding-right: 20px;
        padding-left: 20px;
    }
    .home .content,
    .about .column .content,
    .home form {
        max-width: 100%;
    } 
    .coaching div.content  {
        margin: 0 auto;
    }
    .coaching .box-container .box,
    .review .box-container .box,
    .pricing .box-container .box
     {
        margin: 1rem 0;
    }
    .about .column {
        padding-left: 0;
        padding-right: 0;
    }
    section.podcast div.box {
        margin: auto;
    }
    section.podcast div.box img,
    section.podcast div.box img:first-child {
        height: 12rem;
        margin: 0 auto;
    }
}

@media (max-width:450px){
    section {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .home .content h1 {
        font-size: 4rem;
    }
    .about .column .image {
        background-image: url(images/matti.jpg);
        background-position: top;
        overflow: hidden;
    }
    section#home.home div.content a.btn,
    .about .column .content .buttons a.btn {   
        margin: 2rem auto;
    }
}
@media (max-width:350px){
    .home form {
        padding: 2rem;
    }
    .home .content h1 {
        font-size: 3.5rem;
    }
    section#home.home div.content a.btn {
        margin-right: 0;
    }
}